@charset 'UTF-8';

.menu-top-box{
    width:100%;
}
.menu-type-box{
    display: flex;
}
.menu-type{
    height:24px;
    font-size:14px;
    width:90px;
    border:solid gray 1px;
    border-radius:3px 3px 0 0;
    background-color:white;
    text-align: center;
    padding-top:2px;
}
.menu-title-box{
    background-color:black;
    height:45px;
    display: flex;
}
.menu-back{
    margin:9px 0 0 15px;
    width:100px;
}
.menu-title-slide{
    margin-right: 10px;
}
.menu-title{
    position: absolute;
    color:white;
    margin:9px auto 0 0;
    width:140px;
    opacity:1;
}
.menu-title2{
    position: absolute;
    color:white;
    margin:9px auto 0 0;
    width:140px;
    opacity:0;
}
.menu-title3{
    position: absolute;
    color:white;
    margin:9px auto 0 0;
    width:140px;
    opacity:0;
}
.menu-title5{
    position: absolute;
    color:white;
    margin:9px auto 0 0;
    width:140px;
}
.menu-title6{
    position: absolute;
    color:white;
    margin:9px auto 0 0;
    width:140px;
}
.menu-title4{
    position: absolute;
    color:white;
    margin:9px auto 0 0;
    width:140px;
}
.menu-content-food{
    position: absolute;
    width: 100%;
}
.menu-line{
    display:flex;
    margin:30px 0 0 0
}
.menu-ct{
    width:70px;
    height:70px;
    background-color:gray;
    color:white;
    margin:0 10px 0 10px;
    border-radius: 5px;
    text-align: center;
    font-size:14px;
}
.menu-ct a{
position: absolute;
   top:0;
   left:0;
   width: 100%;
   height:100%;
   text-indent:-999px;
   z-index:2;
}
.send-box{
    position: absolute;
    width:270px;
    height:40px;
    background-color:black;
    top:560px;;
}
.send-switch{
    background-color:none;
    color:white;
    margin:7px auto 0 75px;;
    
}
#ty1{
    background-color:black;
    color:white;
}
#ct1{
    opacity:1;
    z-index: 2;
}
#ct2{
    opacity:0;
}
#ct3{
    opacity:0;
}
#title1{
    opacity:0;
}
#title2{
    opacity:0;
}
#title3{
    opacity:0;
}
.men-content-food-ex{
    position: absolute;
    width: 100%;
}
#food1{
    opacity:1;
}
