@charset 'UTF-8';
.user-title{
    padding-top:8px;
}
.user-table{
    width:100%;
    display: flex;
    margin:80px 0 0 0;
}
.user-table-name{
    font-size:15px;
    
    margin:0 20px 0 auto;
}
.user-table-list{
    margin:0 auto 0 0;
}
.user-box{
    width:100%;
    display: flex;
    margin:50px 0 0 0;
}
.user-name{
    font-size:15px;
    width:50px;
    margin:0 20px 0 auto;
}
.user-list{
    margin: 0 auto 0 0;
}
.user-send{
    width:50px;
    margin:90px auto 0 auto;
}